<footer class="footer">
    <div class="top">
        <p>
            <span>
            </span>
            <span>
                博客内容遵循
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">
                    知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议
                </a>
            </span>
        </p>
    </div>
    <div class="bottom">
        <p>
            <span>#option('WEB_NAME','未设置')</span>
            <span>
                 #option('WEB_COPYRIGHT', 'Copyright Perfree')
                <br>
                Power by <a href="http://www.perfree.org.cn" target="_blank">Perfree</a>
                Theme <a href="https://github.com/perfree/indigo" target="_blank">indigo</a>
            </span>
        </p>
    </div>
</footer>