#define layout()
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>#(WEB_TITLE ?? '未设置')#(isBlank(SEO_TITLE) ? '': '-' + SEO_TITLE)</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <meta name="theme-color" content="#3F51B5">
        <meta name="keywords" content="#(SEO_KEYWORD ??)">
        <meta name="description" content="#(SEO_DESC ??)">
        <link rel="shortcut icon" href="#option('WEB_LOGO', 'system_setting','/static/favicon.ico')">
        <link href="/static/themes/indigo/lib/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/themes/indigo/css/style.css?v=1.0.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
        #@css?()
        <script>
            window.lazyScripts = [];
        </script>
    </head>
    <body>
        <div id="loading" class="active"></div>
        #include("/static/themes/indigo/layout/side.html")
        <main id="main">
            #@content()
            #include("/static/themes/indigo/layout/footer.html")
        </main>
        <div class="mask" id="mask"></div>
        <a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light">
            <span class="icon icon-lg icon-chevron-up"></span>
        </a>
        <script src="/static/themes/indigo/lib/jquery/jquery-3.5.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
        #@script?()
        <script src="/static/themes/indigo/js/main.js?v=1.7.2"></script>
        <script src="/static/themes/indigo/js/search.js?v=1.7.2" async></script>
    </body>
</html>

#end